# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment/config/log files
*.env
*.log

# Ignore datasets (optional)
data/

# Ignore OS files
Thumbs.db
.DS_Store
